* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    user-select: none;
}

:root {
    --animated-world: first-anime-in-help 0.3s linear infinite forwards
}

@keyframes first-anime-in-help {
    0% {
        border: blue 4px solid;
    }

    100% {
        border: rgb(5, 252, 5) 4px solid;
    }
}

html {
    background: linear-gradient(to top, rgb(233, 126, 162), rgb(230, 181, 197));

}

.white-border {
    border: white solid;
    border-width: 1px 4px 4px 4px;
    color: #333333;
}

a:link,
a:visited {
    color: #720b0b;
}

body {
    width: 100%;
    font-family: 'Arial', sans-serif;

}

.header1 {
    background: linear-gradient(to bottom, #fdd2e5, #fdc3dc);
    text-shadow: 2px 2px 5px rgb(224, 81, 81);
    color: #720b0b;
    height: 50px;
    font-size: 37px;
    font-weight: 600;
    width: 100%;
    border: solid white;
    border-width: 4px 4px 0px 4px;
    position: fixed;
    left: 0;
    z-index: 100;
}

.nav1 {
    z-index: 100;
    padding: 5px;
    padding-left: 19px;
    position: fixed;
    left: 0;
    top: 50px;
    background: linear-gradient(to bottom, #ffd6e8, #ffb3d9);
    text-shadow: 2px 2px 5px rgb(221, 103, 103);
    width: 100%;
    box-shadow: 0px 9px 3px rgba(0, 0, 0, 0.575);

    font-weight: 700;
    height: 37px;
    color: #720b0b;
    text-decoration-line: underline;
}

.nav1 ul li::first-letter {
    text-decoration: none;
}

.nav1 ul {
    display: grid;
    grid-template-columns: 26% 26% 26% 26%;
    list-style: none;
    text-align: left;
    width: 100%;
}

.nav1 ul li {
    list-style: inside "â¤";
    padding-left: 6px;

}

.flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.scale:hover {
    transform: scale(1.2);
}




main {
    width: 100%;
    background: linear-gradient(to bottom, #ffb3d9, #ff7eb3);
    position: relative;
    top: 87px;
    height: auto;
}


.sub-setting-nav,
.sub-apps-nav {

    width: 100%;
    border: white solid;
    border-width: 1px 4px 4px 4px;
    height: 40px;
    background-color: rgb(238, 122, 161);
    position: fixed;
    top: 86px;
    box-shadow: 0px 9px 3px rgba(0, 0, 0, 0.678);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transform: translateX(500px); */
    /* transition: opacity 0.3s ease, transform 0.4s ease-out; */
}

.hidden {
    visibility: hidden;
}

#setting.sub-nav-show1,
#apps.sub-nav-show2 {
    visibility: visible;
    opacity: 1;
    /* transform: translateX(0px); */
}


.sub-setting-nav-ul,
.sub-apps-nav-ul {
    display: grid;
    grid-template-columns: 26% 26% 26% 26%;
    list-style: none;
    text-align: left;
    width: 100%;
    text-align: center;
}






/* themes fonts fun-calc about 

here the section is started for sub setting bar */

.setting-control {
    border: white solid;
    border-width: 4px 4px 4px 4px;
    width: 48vw;
    background: linear-gradient(to top, rgb(241, 147, 179), rgb(245, 107, 153));
    font-size: 20px;
    color: rgba(0, 0, 0, 0.623);
    line-height: 40px;
    justify-content: flex-start;
    position: fixed;
    top: 17vh;
    /* visibility: hidden; */
    box-shadow: 9px 9px 3px rgba(0, 0, 0, 0.678);
    z-index: 1000;
}

.setting-control>span,
.apps-control>span {
    display: inline-block;
    font-size: 3vh;
    color: white;
    margin: 3vh 0px;
}

.apps-control {
    border: white solid;
    border-width: 4px 4px 4px 4px;
    width: 75vw;
    background: linear-gradient(to top, rgb(241, 147, 179), rgb(245, 107, 153));
    font-size: 20px;
    color: rgba(0, 0, 0, 0.623);
    line-height: 40px;
    justify-content: flex-start;
    position: fixed;
    top: 25vh;
    /* visibility: hidden; */
    box-shadow: 9px 9px 3px rgba(0, 0, 0, 0.678);
    z-index: 1000;
}


.calc-closebtn-control,
.openApp2 {
    width: 40vw;
    font-size: 25px;
    height: 50px;
    background: linear-gradient(to top, rgb(233, 126, 162), rgb(230, 181, 197));
    box-shadow: 3px 3px 3px rgb(243, 73, 130);
    color: white;
    border: 4px white solid;
    margin: 0px 0px 6vh 0px;
    z-index: 1000;
}

.openApp {
    width: 40vw;
    font-size: 25px;
    height: 50px;
    background: linear-gradient(to top, rgb(233, 126, 162), rgb(230, 181, 197));
    box-shadow: 3px 3px 3px rgb(243, 73, 130);
    color: white;
    border: 4px white solid;
    margin: 6vh 0px 6vh 0px;

}





#helpcircle {
    border: 4px white solid;
    box-shadow: 3px 3px 3px black;
    background: url(himanshu1.jpg);
    background-size: contain;
    width: 69px;
    height: 69px;
    border-radius: 100%;
    position: fixed;
    right: 1vh;
    bottom: 3vh;
    z-index: 100;
    transition: 0.3s;
    animation: var(--animated-world);
}

#helpbox {
    height: 66vh;
    width: 78vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;

}

.helpbox {
    z-index: 10;
    transition: 0.1s ease;
    box-shadow: inset 5px 5px 7px rgba(255, 62, 158, 0.664);
    overflow-x: scroll;
    overflow-y: hidden;
    border: 5px white solid;
    border-radius: 10px;
    color: rgb(250, 18, 87);
    font-size: 25px;
    padding: 20px;
    visibility: hidden;
    text-align: center;
    background: url(himanshu1.jpg);
    background-position: 479px;
    background-size: 634px;
}

.helpbox>h1 {
    color: #FFFFFF;
    text-shadow: 2px 2px 5px rgba(255, 62, 159, 0.8);
}

.help1 {
    margin: 19px 0px 29px 0px;
    line-height: 35px;
    color: white;

}

#help2 {
    margin: 19px 0px 29px 0px;
    line-height: 35px;

}

.one1 {
    font-size: 19px;
    line-height: 35px;
    font-weight: 100;
    margin-bottom: 5px;

}

.transparent-card {
    padding: 2vw;
    margin: 10px;
    border-radius: 15px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
    /* Gradient Transparent */
    backdrop-filter: blur(2px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease-in-out;
}

/* Hover Effect */
.transparent-card:hover {
    transform: scale(1.05);
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.15));
    backdrop-filter: blur(100px);
}

.purple {
    background-color: #c20c5e94;
    color: white;
    font-weight: 700;
    border-radius: 15px;
    padding: 5px;
}

.yellow {
    background-color: #e6e94c94;
    color: black;
    font-weight: 700;
    border-radius: 15px;
    padding: 5px;
}

.orange{
    background-color: #ff7f0094;
    color: white;
    font-weight: 700;
    border-radius: 15px;
    padding: 5px;
}
.blue{
    background-color: #007bff94;
    color: white;
    font-weight: 700;
    border-radius: 15px;
    padding: 5px;
}
.green{
    background-color: #28a74594;
    color: white;
    font-weight: 700;
    border-radius: 15px;
    padding: 5px;
}
.red{
    background-color: #dc354594;
    color: white;
    font-weight: 700;
    border-radius: 15px;
    padding: 5px;
}