.calc-main {
    width: 100%;
    position: relative;
    top: 168px;
    height: auto;
    background: linear-gradient(to bottom, #ffb3d9, #ff7eb3);

}

.calculator {
    background: linear-gradient(to top, rgb(233, 126, 162), rgb(230, 181, 197));
    position: relative;
    width: 100%;
}


.calc-scrn {
    /* background: linear-gradient(to top, rgb(233, 126, 162), rgb(230, 181, 197)); */
    height: 32vh;
    position: relative;
    top: -8vh;
    line-height: 20px;
    width: 100%;
    text-shadow: none;
}

.calc-scrn>span {
    display: inline-block;
    margin-top: 1vh;
    width: 90%;
    font-size: 15px;
    color: white;
    height: 5vh;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
}

.calc-scrn2 {
    display: flex;
    height: 55vw;
    width: 80vw;
    border: 4px white solid;
    background: linear-gradient(to bottom, #ffb3d9, #ff7eb3);
    margin: 1vh auto 0vh auto;
    box-shadow: inset 7px 7px 3px rgba(0, 0, 0, 0.678);
    flex-wrap: wrap;
    align-content: center;
    overflow: scroll;
    line-height: 4vh;
    row-gap: 20px;
    font-weight: 400;
    color: white;
    font-size: 30px;
    text-shadow: #333333b2 9px 9px 3px;
}



.calc-keypad {
    height: 50vh;
    background: linear-gradient(to bottom, #ffb3d9, #ff7eb3);
    box-shadow: inset 7px 7px 3px rgba(0, 0, 0, 0.678);
    border: 4px white solid;
    margin-left: auto;
    display: grid;
    margin-right: auto;
    grid-template-columns: 21vmin 21vmin 21vmin 21vmin;
    grid-template-rows: 15vmin 15vmin 15vmin 15vmin 15vmin;
    width: 95%;
    row-gap: 2vw;
    column-gap: 2vw;
    justify-content: center;
    padding-top: 5vh;
}

.calc-key {
    border: 4px white solid;
    width: 90%;
    box-shadow: 7px 7px 3px rgba(0, 0, 0, 0.678);
    height: 90%;
    font-size: 3vmax;
    background: linear-gradient(to top, rgb(233, 126, 162), rgb(230, 181, 197));

}

.calc-key:hover {
    transform: rotateX(30deg) rotateY(0deg) rotateZ(0deg);
    transition: 0.000001s;
    background: linear-gradient(to top, rgb(209, 113, 145), rgb(192, 151, 165));
    box-shadow: none;
}












@media screen and (orientation: landscape) {

    .calc-main {
        top: 60px;
    }

    .calc-scrn {
        top: 60px;

        width: 35vw;
        height: 69vh;
        position: fixed;
        left: 0vw;

    }

    .calc-scrn>span {
        width: 35%;
        position: fixed;
        left: 0vw;
        top: 76px;
        color: black;
z-index: 2;

    }

    .calc-scrn2 {
        width: 35vw;
        height: 68vh;
        margin: 0;
        position: fixed;
        left: 0vw;
        box-shadow: none;


    }

    .calc-keypad {
        height: 68vh;
        width: 45%;
        grid-template-columns: 19vmin 19vmin 19vmin 19vmin 19vmin;
        grid-template-rows: 14vmin 14vmin 14vmin 14vmin;
        position: fixed;
        left: 35vw;
        row-gap: 4px;
        column-gap: 7px;
        box-shadow: none;
overflow: auto;
    }

    .calc-key{
        box-shadow: none;

    }


.sub-setting-nav,
.sub-apps-nav {
background: none;border: none;
box-shadow: none;

}

.calc-side-div9005{
    position: fixed;
    top: 60px;
    right: 0;
    width: 20%;
    height: 68vh;
    background: linear-gradient(to bottom, #ffb3d9, #ff7eb3);
border: white 4px solid;
}
}

@media screen and (max-width:1000px){
    .header1{
        box-shadow: none;
        top: 6px;
    }
    .nav1{
        height: 53px;
        top: 6px;
        box-shadow: none;
    }
    
}