.loginnn{
    text-decoration: underline;
    color: blue;
}
.loginnnn{
    text-decoration: none;
}

.main-home-id {
    padding: 50px 10px 0px 10px;
    color: rgb(61, 45, 45);
    text-shadow: 2px 2px 5px rgb(241, 44, 44);
    font-family: 'Pacifico', cursive;
    overflow: scroll important;

}

.first-text {
    font-size: 40px;
    /* text-shadow:7px 7px 3px black ; */
}


body {
    background: linear-gradient(to top, RGB(233, 126, 162), RGB(230, 181, 197));
    font-family: 'Arial', sans-serif;
    color: #FFFFFF;
}

h1,
h2 {
    color: #FFFFFF;
    text-shadow: 2px 2px 5px rgba(255, 62, 159, 0.8);
}

p {
    color: #F5F5F5;
    text-shadow: 1px 1px 3px rgba(245, 7, 58, 0.973);
}

#footer {
    background: linear-gradient(to top, #E75480, #FFB6C1);
    color: #FFFFFF;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    padding: 10px;
}










#welcome1 {
    margin: 40px auto 12px auto;
}

#welcome2 {
    margin: 0px auto 40px auto;
}

.welcome {
    font-size: 26px;
    font-family: Arial, sans-serif;
    color: rgba(255, 255, 255, 0.8);
    font-style: italic;
    text-shadow: 2px 2px 5px rgb(9, 26, 180);
}




#photo-frame {
    width: 366px;
    height: 219px;
    background: linear-gradient(to bottom, #ffd6e8, #ffb3d9);
    text-shadow: 2px 2px 5px rgb(221, 103, 103);
    margin-bottom: 30px;
    border: 4px solid rgb(252, 96, 122);
    border-radius: 12px;
}

.photo {
    background-image: url("Divya.jpg");
    width: 336px;
    height: 189px;
    background-size: contain;
    box-sizing: content-box;
    background-repeat: no-repeat;
    border: 3px solid rgb(240, 35, 69);
    border-radius: 12px;
}

.photo:active {
    transform: rotateY(180deg) rotateX(180deg);
    transition: 1s;
}

#photo-frame:active {
    transform: rotateX(180deg);
    transition: 0.4s;
    animation: var(--animated-world);

}

#mymedia {
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

}

.button {
    background: linear-gradient(to right, #FF6F61, #FFB3A7);
    color: white;
    font-size: 1.3rem;
    border: 1px black solid;
    width: 37%;
    height: 10%;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

#prev:hover,
#next:hover {
    transform: rotateX(30deg) rotateY(-10deg) rotateZ(0deg);
    transition: 0.5s;
    background: linear-gradient(to right, #ff5545, #ff9585);
    box-shadow: 7px 12px 3px rgba(0, 0, 0, 0.514);

}



.noteforyou {
    position: sticky;
    top: 100px;
    height: 70px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.137);
    backdrop-filter: blur(3px);
    margin-bottom: 45px;

}


.bigtext>p {
    margin-bottom: 45px;

line-height: 32px;
font-size: 29px;
}

.afternote {
    border: white 3px solid;
    width: 90vw;
    height: 80px;
    border-radius: 12px;
    margin: 20px 0px;
    background-color: rgba(255, 255, 255, 0.267);
    font-size: 25px;
    color: blue;
    font-weight: 900;
}

.imgafternote {
    border: 4px white solid;
    box-shadow: 3px 3px 3px black;
    background: url(himanshu1.jpg);
    background-size: contain;
    width: 250px;
    height: 250px;
    border-radius: 100%;
}

.afternote:active,
p:active, 
.welcome:active, 
.imgafternote:hover {
animation: flip 3s linear  infinite alternate ;    
}
@keyframes flip {
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(180deg);
    }
    
}






