#tictactoe {
    width: 100%;
    height: 71%;
    display: flex;
    background: linear-gradient(to bottom, #b39ce7, #d5dbf7);
    border: rgb(163, 29, 29) 5px solid;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    box-shadow: inset 9px 0px 4px black;
    align-content: center;
}

.tictac {
    height: calc(100vh - 143px);
    padding-top: 20vh;
    width: 100%;
    position: fixed;
    top: 87px;
    overflow: hidden;
    background: linear-gradient(to bottom, rgb(255, 173, 201), rgb(255, 108, 157));

}

.tdclass {
    width: 32vw;
    height: 32vw;
    border: rgb(163, 29, 29) 5px solid;
    box-sizing: border-box;
    box-shadow: 9px 9px 4px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tdclass1 {
    width: 100%;
    display: flex;
}

#main {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    justify-content: center;
    align-content: center;
}

#circle {
    width: 23vw;
    height: 23vw;
    border: 10px rgb(163, 29, 29) solid;
    border-radius: 100px;
    box-shadow: 7px 7px 4px rgba(0, 0, 0, 0.781), inset 7px 7px 4px rgba(0, 0, 0, 0.781);

}

#cross {
    width: 15vw;
    height: 19vw;
    font-size: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(36, 13, 168);
    text-shadow: 7px 7px 4px rgba(0, 0, 0, 0.781);
}

.player2,
.player1 {
    width: 40vw;
    height: 10vw;
    border: 4px rgb(163, 29, 29) solid;
    border-radius: 10px;
    background: linear-gradient(to bottom, #b39ce7, #d5dbf7);
    box-shadow: 7px 7px 4px rgba(0, 0, 0, 0.781), 7px 7px 4px rgba(0, 0, 0, 0.781);
    position: fixed;
    font-size: 23px;
    font-weight: bold;
}

.player1 {
    top: 150px;
    left: 0;
}

.player2 {
    top: 768px;
    left: 0;
}

.yourmove {
    width: 50vw;
    height: 10vw;
    border: 4px white solid;
    position: fixed;
    font-size: 23px;
    color: rgb(255, 255, 255);
    text-shadow: 7px 7px 3px rgba(0, 0, 0, 0.945);
    font-weight: bold;
    box-shadow: 7px 7px 4px rgba(0, 0, 0, 0.781), 7px 7px 4px rgba(0, 0, 0, 0.781);
    background: linear-gradient(to bottom, rgb(255, 148, 184), rgb(255, 108, 157));

}

.yourmove1 {
    top: 150px;
    left: 43vw;
}

.yourmove2 {
    top: 768px;
    left: 43vw;
    visibility: hidden;
}

.token{
    background: linear-gradient(to bottom, #b39ce7, #d5dbf7);
    width: 35vw;
    height: 8vw;
    position: fixed;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    border: 4px rgb(163, 29, 29) solid;
    box-shadow: 7px 7px 4px rgba(0, 0, 0, 0.781), 7px 7px 4px rgba(0, 0, 0, 0.781);

}
.token-circle{
    top: 212px;
    left: 0;
}
.token-cross{
    top: 715px;
    left: 0;
}
.result{
    visibility: hidden;
    width: 45vw;
    height: 8vw;
    border: 4px white solid;
    position: fixed;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-shadow: 7px 7px 3px rgba(0, 0, 0, 0.945);
    font-weight: bold;
    box-shadow: 7px 7px 4px rgba(0, 0, 0, 0.781), 7px 7px 4px rgba(0, 0, 0, 0.781);
    background: linear-gradient(to bottom, rgb(255, 148, 184), rgb(255, 108, 157));
}

.result1{
    top: 212px;
    left: 43vw;
}
.result2{
    top: 715px;
    left: 43vw;
}



